<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @team.country_id %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @team.competition_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
